body {
  background-color: rgb(207, 194, 191);
  padding: 20px;
}

#wrapper {
  background-color: #fff;
}

a {
  color: #444;
  text-decoration: none;
}

a:hover {
  color: #903;
}

header {
  font-size: 50px;
  text-align: center;
  padding: 20px;
}

hr {
  width: 70%;
  margin: 20px auto;
  background-color: rgb(207, 194, 191);
}

hr.diamond {
  background: url(../images/diamond.png) no-repeat center;
  height: 29px;
  border-bottom: solid 1px rgb(207, 194, 191);
}

nav {
  text-align: center;
  background: #fff;
  width: 100%;
}

nav ul {
  position:relative;
  padding: 5px 0;
  margin: 0 20px;
  background-color: #fff;
  z-index: 99;
}

nav li {
  display: inline;
  padding: 15px;
  cursor: pointer;
  font-size: 15px;
}

nav li a{
  font-size: 20px;
}

section {
  padding: 10px;
}

ul.portfolio{
  overflow: hidden;
  text-align:center;
  display: block;
}

ul.portfolio li {
  display: inline-block;
  padding: 10px;
  margin: 0px;
  vertical-align: top;
  height: 170px;
  width: 150px;
}

ul.portfolio img {
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 50%;
}

ul.portfolio img:hover, 
ul.portfolio li:hover img, 
ul.portfolio a:hover img {
  -webkit-box-shadow: 1px 1px 6px rgba(153,0,51,0.7);
  -moz-box-shadow: 1px 1px 6px rgba(153,0,51,0.7);
  box-shadow: 1px 1px 6px rgba(153,0,51,0.7);
  
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 50%;
}

ul.portfolio img:hover span, 
ul.portfolio li:hover span, 
ul.portfolio a:hover span {
  color: #903;
}

ul.portfolio span {
  display: block;
  margin: 0 auto;
}

footer {
  text-align: center;
}

#about p {
  display: inline-block;
  width: 300px;
  padding: 0 20px;
  text-align: justify;
  vertical-align: top;
}

#contact ul li {
  display: inline;
}

#copyright {
  font-size: 10px;
}

#main {
  overflow: hidden;
}

#album {
  padding: 0;
  margin: 0 auto;
  height: 500px;
  width: 500px;
  overflow: hidden;
}

#subtitle span {
  display: none;
  position: absolute;
  width: 100%;
}
#subtitle {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: 500px;
  height: 1.5em;
  text-align: center;
}
