a {
  color: #444;
  text-decoration: none;
}

a:hover {
  color: #903;
}

header {
  font-size: 50px;
  text-align: center;
  padding: 20px;
}

nav {
  text-align: center;
}

nav ul {
  padding: 0;
  margin: 0 20px;
}

nav li {
  display:inline;
}

nav li a{
  text-transform: uppercase;
  padding: 15px;
  font-size: 20px;
}

section {
  padding: 10px;
}

ul.portfolio{
  text-align:center;
}

ul.portfolio li {
  display: inline-block;
  padding: 10px;
  margin: 0px;
  vertical-align: top;
}

ul.portfolio img {
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

ul.portfolio img:hover, 
ul.portfolio li:hover img, 
ul.portfolio a:hover img {
  -webkit-box-shadow: 1px 1px 6px rgba(153,0,51,0.7);
  -moz-box-shadow: 1px 1px 6px rgba(153,0,51,0.7);
  box-shadow: 1px 1px 6px rgba(153,0,51,0.7);
  
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

ul.portfolio img:hover span, 
ul.portfolio li:hover span, 
ul.portfolio a:hover span {
  color: #903;
}

ul.portfolio span {
  display: block;
  margin: 0 auto;
}
